body{
margin:0;
font-family:Arial;
background:#f4f6f8;
}

.login-container{
display:flex;
height:100vh;
}

.login-left{
flex:1;
background:linear-gradient(135deg,#4f6df5,#2ec4b6);
color:white;
display:flex;
flex-direction:column;
justify-content:center;
padding:80px;
}

.login-right{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
padding:80px;
gap:15px;
}

.login-right input{
padding:10px;
border:1px solid #ccc;
border-radius:6px;
}

.login-right button{
padding:12px;
background:#4f6df5;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}
body{
margin:0;
font-family:Arial;
background:#f4f6f8;
}