.dashboard-title{
margin-bottom:30px;
}

.dashboard-grid{
display:flex;
gap:30px;
flex-wrap:wrap;
}

.card{
width:200px;
padding:25px;
border-radius:15px;
color:white;
text-align:center;
font-weight:bold;
}

.purple{
background:linear-gradient(135deg,#6a5af9,#6a8df9);
}

.pink{
background:linear-gradient(135deg,#ff5a7a,#ff6a9f);
}

.green{
background:linear-gradient(135deg,#00c9a7,#00b894);
}

.progress-card{
width:200px;
background:white;
padding:20px;
border-radius:15px;
text-align:center;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.circle{
width:120px;
height:120px;
border-radius:50%;
border:12px solid #e5e7eb;
border-top:12px solid #6366f1;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
font-size:22px;
font-weight:bold;
}