body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.3s ease;
}

/* Light Mode */
.light {
  background: #f5f7fa;
  color: #222;
}

/* Dark Mode */
.dark {
  background: #0f172a;
  color: #e2e8f0;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}